input {
  width: 5%;
  margin: 1%;
}

.highlighted {
  border: 1px solid blueviolet;
}

.pivot {
  border: 1px solid red;
}

.unhighlighted {
  border: none;
}

.finished {
  border: 1px solid green;
}

.testing {
  border: 1px solid orange;
}